
.header-container {
  color: #fffcfc;
  text-align: center;
  padding: 50px 20px;
  font-family: sans-serif;
}


.header-content h1 {
  font-size: 3rem;
  margin-bottom: 10px;
}

.header-content p {
  font-size: 1.2rem;
  margin-top: 0;
}

.navbar ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.navbar li {
  margin: 0 15px;
  cursor: pointer; /* Makes it look clickable */
  font-weight: bold;
  transition: color 0.3s ease;
}

.navbar li:hover {
  color: #f0f0f0;
}

.navbar li.active {
  text-decoration: underline; /* Highlight active section */
  color: #fff;
}

.navbar a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease;
}

.navbar a:hover {
  color: #ffffff;
}


