
.specials-container {
  display: flex;
  flex-direction: column;
  align-items: center;
   height: 100vh;
  justify-content: center;
  background-color: #11763b; 
}


.page-heading {
  font-family: 'Poppins', sans-serif; 
  font-size: 2.5rem;
  font-weight: 800; 
  color: #ffffff; 
  margin-bottom: 25px;
  position: relative;
  z-index: 2;
  text-align: center;
  text-transform: uppercase; 
  letter-spacing: 2px; 
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.6),
               0 0 15px rgba(255, 255, 255, 0.4);
}


.dish-card-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.dish-card {
  background: #f6f6f6; 
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 4px 15px rgba(0,0,0,0.2); 
  text-align: center;
  width: 700px;
}

.dish-title, .dish-desc, .dish-price { 
    color: rgb(0, 0, 0); 
}

.dish-image {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 10px;
}

.arrow {
  background: white; 
  border: none;
  font-size: 2rem;
  cursor: pointer;
  border-radius: 50%;
  padding: 8px 14px;
  box-shadow: 0 3px 8px rgba(0,0,0,0.3);
}
